body {
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    color: #333;
    font: 100% / normal sans-serif;
}

main {
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 60rem;
}

#logo {
    height: 100px;
    margin-top: 50px;
}

header {
    text-align: center;
}

.header-container {
    text-align: center;
    padding: 20px;
}

h2 {
    margin-left: 1rem;
}

h3 {
    font-weight: normal;
    letter-spacing: 3px;
    font-size: medium;
}

h4 {
    text-align: center;
    padding-bottom: 2.5rem;
}

h5 {
    text-align: center;
    padding-top: 3rem;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    gap: 1rem;
}

.register-input, .login-input, .group-id-input, .bill-input {
    display: grid;
}

input {
    padding: 0.5rem;
    margin: 0.1rem;
    border: 1px solid rgb(233, 229, 229)
}

label {
    text-align: left;
    font-size: small;
    font-weight: bold;
}

button {
    width: 5rem;
    padding: 0.2rem;
}   

a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: blue;
}

#group-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.group-card {
    width: 10rem;
    text-align: center;
    padding: 1rem 3rem;
    border: 1px solid rgb(233, 229, 229) 
}

.group-id-input-form, #bill-input-form {
    border: none;
    width: 40%;
    margin: 0 auto;
}

#bills-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: small;
}

#bills-table td, #bills-table th {
    border: 1px solid #ddd;
    padding: 8px;
    
}

#bills-table tr:nth-child(even){
    background-color: #ddd;
}

#bills-table th {
    text-align: left;
}

