.App {
  margin: 0;
  justify-content: flex-end;
}

.App-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: medium;
  color: orange;
  padding: 15px;
  margin-bottom: 20px;
}

.link {
  margin-right: 20px;
  color: orange;
  text-decoration: none;
  font-weight: 600;
}

.App-logo {
  align-self: flex-start;
  margin-left: 20px;
  width: 150px;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.top-button-container {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-size: x-large;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  padding: 20px;
  font-size: small;
}

 .card {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
  align-self: start;
}

.med-card {
    width: 150px;
   display: block;
   justify-content: space-around;
}

.orange-button {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 3px;
  color: white;
  padding: 5px 8px;
  margin: 5px;
  width: auto;
  text-align: center;
  font-size: x-small;
  font-weight: 700;
}

.white-button {
  background-color: white;
  border: 1px solid orange;
  border-radius: 3px;
  color: orange;
  padding: 5px 8px;
  width: auto;
  margin: 5px;
  font-size: x-small;
}

.top-orange-button {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 3px;
  color: white;
  padding: 5px 8px;
  margin: 5px;
  width: auto;
  text-align: center;
  font-size: x-small;
}

.top-white-button {
  background-color: white;
  border: 1px solid orange;
  border-radius: 3px;
  color: orange;
  padding: 5px 8px;
  margin: 5px;
  width: auto;
  text-align: center;
  font-size: x-small;
}

.add-new {
  text-align: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 5px;
}

.form-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

input {
  margin: 5px;
  padding: 5px;
  width: 300px;
}

footer {
  text-align: center;
  background-color: orange;
  color: white;
  padding: 5px;
}