.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;

}

.product-card {
    border: 1px solid grey;
    text-align: center;
    width: 250px;
}

.product-title {
    font-size: 1rem;
    margin: 5px;
}

.product-price {
    color: red;
    font-size: 1.8rem;
    margin: 5px;
}

.delete-button {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

