*,
::after,
::before {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

:root {
    --main-color-purple: #645cff;
    --main-color-white: rgba(255, 255, 255, 0.986);
    --main-color-grey: #e2e8f0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Lato", sans-serif;
    text-align: -webkit-center;
}

main {
    max-width: 1170;
    width: 85vw;
}

span {
    color: var(--main-color-purple);
}

h1,
h2,
h3,
h4 {
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.4rem
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

section {
    width: 85vw;
    max-width: 1170px;
}

header {
    width: 85vw;
    max-width: 1170px;
}

footer {
    width: 85vw;
    max-width: 1170px;
    text-align: center;
}

.icons-social li {
    display: flex;
    list-style-type: none;
}

.icons-social a {
    margin: 5px;
    padding: 5px;
    width: 25px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    border-radius: 50%;
}

.fa-twitter {
    color: var(--main-color-purple);
}

.fa-linkedin {
    background-color: var(--main-color-purple);
    border-radius: 5px;
    color: var(--main-color-white);
}

.fa:hover {
    opacity: 0.7;
}

.top-container {
    background-color: var(--main-color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 5px;
    text-align: center;
}

.menu a:hover {
    color: var(--main-color-purple);
}

.container-explore {
    min-height: 100vh;
    justify-content: center;
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    text-align: center;
}

.container-explore h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 200px;
    letter-spacing: 0.4rem;
    padding-left: 30px;
    padding-right: 30px;
}

.container-explore p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-weight: 400;
    line-height: 2;
}

.btn-explore {
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    font-size: x-small;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container-explore {
        background: linear-gradient(rgba(74, 63, 218, 0.7), rgba(0, 0, 0, 0.7)),
            url("https://images.unsplash.com/photo-1504280317859-9c6cce36bca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format") center/cover no-repeat;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
}

.container-about {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;

}

.container-about p {
    text-align: justify;
    padding: 10px 0;
}

#more {
    display: none;
}

.btn-readmore {
    background: none;
    border: none;
    text-decoration: none;
    color: var(--main-color-purple);
    font-weight: bold;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .inside-about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about-img {
        flex: 40%;
        padding-right: 20px;
    }

    .about-content {
        flex: 40%;
        padding-left: 20px;
    }

    .container-about>h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.services {
    background-color: var(--main-color-grey);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.container-services {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.fa-solid {
    background-color: var(--main-color-purple);
    padding: 20px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.services-info {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .services-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container-services {
        display: flex;
        flex: 0 0 calc(33.333% - 1rem);
    }

    .services-info {
        text-align: left;
    }

    .fa-solid {
        align-self: flex-start;
    }
}

.photo-container {
    box-sizing: border-box;
    border: 0.5px solid rgb(214, 210, 210);
}

.photo-container-image {
    position: relative;
}

.photo-container-image:hover {
    opacity: 0.5;
}

.date {
    position: absolute;
    top: 0;
    background-color: var(--main-color-purple);
    padding: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.destination {
    display: inline;
    font-size: x-small;
    color: var(--main-color-purple);
    text-align: left;
}

.tour-name {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}

.fa-map {
    color: var(--main-color-purple);
}

.all-tours {
    text-align: center;
    margin: 30px;
}

.all-tours a {
    text-decoration: none;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .featured-tours-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .photo-container {
        position: relative;
        flex: 0 0 calc(33% - 40px);
    }

    .photo-container-image {
        width: 350px;
    }
}

.gallery {
    background-color: var(--main-color-grey);
}

.container-gallery {
    background-color: var(--main-color-purple);
}

.gallery-img-container {
    position: relative;
}

.gallery-img:hover {
    opacity: 0.5;
}

.gallery-img {
    transition: all 0.3s linear;
}

.gallery-img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .container-gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-img-container {
        flex: 0 0 25%;
    }
}

.container-updates {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    padding-left: 10px;
    padding-right: 10px;
}

.container-updates .title {
    padding-left: 10px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

@media screen and (min-width: 768px) {
    .container-updates {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .form-container {
        padding-left: 30px;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
    align-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer-links a {
    color: var(--main-color-white);
    text-decoration: none;
    padding-left: 20px;
    font-size: larger;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-icons .fa {
    margin: 5px;
    padding: 5px;
    font-size: 1.25rem;
    text-decoration: none;
}

.footer-icons>.fa-twitter {
    color: var(--main-color-purple);
}

.footer-icons>.fa-facebook {
    color: black;
    background-color: var(--main-color-purple);
    width: 30px;
}

.footer-icons>.fa-linkedin {
    color: black;
    background-color: var(--main-color-purple);
}

.footer-text {
    color: var(--main-color-white);
    padding-top: 20px;
    font-size: small;
}

@media screen and (min-width: 768px) {
    .footer-container {
        display: block;
    }
}