@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

:root {
    --main-color-purple: #645cff;
    --main-color-white: rgba(255, 255, 255, 0.986);
    --main-color-grey: #e2e8f0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

.top-container {
    background-color: var(--main-color-white);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bolder;
    font-size: 1.2rem;
}

span {
    color: var(--main-color-purple);
}

.icons>.fa {
    margin: 5px;
    padding: 5px;
    width: 15px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    border-radius: 50%;
}

.fa-twitter {
    color: var(--main-color-purple);
}

.fa-linkedin {
    background-color: var(--main-color-purple);
    border-radius: 5px;
    color: var(--main-color-white);
}

.fa:hover {
    opacity: 0.7;
}

h1,
h2 {
    letter-spacing: 3px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.container-explore {
    min-height: 100vh;
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    text-align: center;
}

.container-explore h1 {
    text-align: center;
    padding-top: 200px;
}

.container-explore p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.btn-explore {
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    font-size: x-small;
    padding: 5px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container-explore {
        background: linear-gradient(rgba(74, 63, 218, 0.7), rgba(0, 0, 0, 0.7)),
            url("https://images.unsplash.com/photo-1504280317859-9c6cce36bca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format") center/cover no-repeat;
    }
}

.container-about {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.container-about p {
    text-align: justify;
}

#more {
    display: none;
}

.btn-readmore {
    background: none;
    border: none;
    text-decoration: none;
    color: var(--main-color-purple);
    font-weight: bold;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .inside-about {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
    }

    .about-img,
    .about-content {
        flex: 0 0 calc(50%-2rem);
        align-self: center;
        margin-bottom: 0;
    }
}

.container-services {
    background-color: var(--main-color-grey);
    padding-bottom: 50px;
    text-align: center;
}

/*.grid-container.services {
    text-align: center;
}*/

.fa-solid {
    background: var(--main-color-purple);
    padding: 10px;
}

/*.grid-container.services {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}*/

.grid-item {
    padding: 20px;
    margin: 0 auto;
}

.photo-container {
    position: relative;
    margin: 20px;
    border: 0.5px solid rgb(214, 210, 210);
}

img {
    width: 100%;
}

.date {
    position: absolute;
    top: 20px;
    background-color: var(--main-color-purple);
    padding: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.destination {
    display: inline;
    font-size: x-small;
    color: var(--main-color-purple);
    text-align: left;
}

.tour-name {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}

div.photo-container .fa-map {
    color: var(--main-color-purple);
}

.grey {
    background-color: var(--main-color-grey);
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-gallery {
    background-color: var(--main-color-purple);
}

.all-tours {
    text-align: center;
    margin: 30px;
}

.all-tours a {
    text-decoration: none;
    font-weight: bold;
}

.container-updates {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    background-color: var(--main-color-purple);
    color: var(--main-color-white);
    padding-left: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container a {
    text-decoration: none;
    color: var(--main-color-white);
    margin: 0 5px;
    text-align: center;
}

nav.menu {
    margin-bottom: 20px;
}

.footer-icons .fa {
    margin-top: 20px;
    padding: 5px;
    width: 20px;
    font-size: 1.25rem;
}

.footer-icons>.fa-twitter {
    color: var(--main-color-purple);
}

.footer-icons>.fa-facebook {
    color: black;
    background-color: var(--main-color-purple);
}

.footer-icons>.fa-linkedin {
    color: black;
    background-color: var(--main-color-purple);
}

.footer-text {
    color: var(--main-color-white);
    padding-top: 20px;
    font-size: small;
}